body{
    margin: 0;
    padding: 0;

}
.wrapper{
    position:relative;
    /*background-image: url("static/bg.png");*/
    background-size: cover;
    width: 100%;
    min-height: 1080px;
    margin: 0;
    padding: 0;

}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    display: flex;

    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background: white;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px 4px #26528f;
    width: 400px;
    height: 300px;
}
button{
    margin-bottom: 5px;
}

.error input{
    border: 1px solid red;
}
.login:after{
    content: 'Пользователя с таким именем не существует';
    color: red;
    font-size: 14px;

}
.password:after{
    content: 'Неверный пароль';
    color: red;
    font-size: 14px;
}
input{
    margin-bottom: 10px;
}
