.error input{
    border: 1px solid red;
}
.old:after{
    content: 'Неверный пароль';
    color: red;
    font-size: 14px;

}
.new:after{
    content: 'Пароли не должны совпадать';
    color: red;
    font-size: 14px;
}
input{
    margin-bottom: 10px;
}
