
.route{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background: white;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px 4px #26528f;
    width: 400px;
    height: 300px;
}